/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
    padding: 4rem 0;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.storyImageContainer {
    line-height: 1em;
    display: grid;
    grid-template: auto / 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
}

.storyImage {
    width: 100%;
    outline: 1px solid black;
}

@media screen and (max-width: 1280px) {
    .storyImageContainer {
        grid-template: auto / 1fr 1fr 1fr;
    }
}
@media screen and (max-width: 768px) {
    .storyImageContainer {
        grid-template: auto / 1fr 1fr;
    }
}
@media screen and (max-width: 400px) {
    .storyImageContainer {
        grid-template: auto / 1fr;
    }
}
