.features {
    display: flex;
    align-items: center;
    padding: 2rem 0;
    width: 100%;
}

.featureImage {
    height: auto;
    width: 250px;
    outline: 0.25px solid #000;
    box-shadow: 5px 5px 5px grey;
    margin-bottom: 1rem;
}

.featureImagePFP {
    height: auto;
    width: 250px;
    border-radius: 20%;
    outline: 0.25px solid #000;
    box-shadow: 5px 5px 5px grey;
    margin-bottom: 1rem;
}
