/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
    --ifm-color-primary: #066bf2;
    --ifm-color-primary-dark: rgb(33, 175, 144);
    --ifm-color-primary-darker: rgb(31, 165, 136);
    --ifm-color-primary-darkest: rgb(26, 136, 112);
    --ifm-color-primary-light: rgb(70, 203, 174);
    --ifm-color-primary-lighter: rgb(102, 212, 189);
    --ifm-color-primary-lightest: rgb(146, 224, 208);
    --ifm-code-font-size: 95%;
}

.docusaurus-highlight-code-line {
    background-color: rgba(0, 0, 0, 0.1);
    display: block;
    margin: 0 calc(-1 * var(--ifm-pre-padding));
    padding: 0 var(--ifm-pre-padding);
}

html[data-theme="dark"] .docusaurus-highlight-code-line {
    background-color: rgba(0, 0, 0, 0.3);
}
/* -----------------------------------------------------------*/
/*		HERO BANNER			*/
/* -----------------------------------------------------------*/
.heroBanner-background {
    background-image: url("/img/sd_banner.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
}

.heroBanner-container-h1 {
    text-shadow: 4px 4px 5px #444;
    -webkit-text-stroke: 0.5px black;
    font-size: 13vw;
    color: white;
}

/* -----------------------------------------------------------*/
/*		BLOG		*/
/* -----------------------------------------------------------*/
.blog-wrapper img,
.blog-post-page img,
.blog-list-page img {
    width: 100%;
    max-width: 400px;
    outline: 1px solid black;
}
